<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.logicdesign_project_final">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_adt2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LogicDesign_Project_Final">
<!--        <activity-->
<!--            android:name=".Adapter"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".route_history"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".route_history"
            android:exported="false"
            android:label="Route"
            android:parentActivityName=".MainActivity" />
<!--        <activity-->
<!--            android:name=".route_history"-->
<!--            android:exported="false"-->
<!--            tools:ignore="Instantiatable" />-->
        <activity
            android:name=".Changeprofile"
            android:exported="false"
            android:parentActivityName=".Setting" />
        <activity
            android:name=".about_us"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Setting"
            android:exported="false"
            android:label="Setting"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Register"
            android:exported="false"
            android:label="Register"
            android:parentActivityName=".Login" />
        <activity
            android:name=".personal_inf"
            android:exported="false"
            android:label="Personal Information"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Usermanual"
            android:exported="false"
            android:label="User Manual"
            android:parentActivityName=".MainActivity" /> <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/> -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".qr_scanner"
            android:exported="false"
            android:label="QR Scanner"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>